In [5]:
import pandas as pd

sheet1 = pd.read_excel(r'C:\Users\girip\Downloads\ds_c8_datafiles-main\ds_c8_datafiles-main\appearances.xlsx')
sheet2 = pd.read_excel(r'C:\Users\girip\Downloads\ds_c8_datafiles-main\ds_c8_datafiles-main\game_events.xlsx')
sheet3 = pd.read_excel(r'C:\Users\girip\Downloads\ds_c8_datafiles-main\ds_c8_datafiles-main\game_lineups.xlsx')
sheet4 = pd.read_excel(r'C:\Users\girip\Downloads\ds_c8_datafiles-main\ds_c8_datafiles-main\games.xlsx')
sheet5 = pd.read_excel(r'C:\Users\girip\Downloads\ds_c8_datafiles-main\ds_c8_datafiles-main\players.xlsx')
merged_df = pd.concat([sheet1, sheet2, sheet3, sheet4, sheet5], ignore_index=False)
merged_df.to_excel('merged_sheet.xlsx', index=True)
print("Merged data saved to 'merged_sheet.xlsx'.")

Merged data saved to 'merged_sheet.xlsx'.

In [6]:
merged_df

,appearance_id,game_id,player_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,...,player_code,country_of_birth,date_of_birth,sub_position,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name
0,2224728_119169,2224728.0,119169.0,2012-07-13,Aron Johannsson,DK1,0.0,0.0,0.0,0.0,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,2224732_161244,2224732.0,161244.0,2012-07-14,Conor O'Brien,DK1,0.0,0.0,1.0,0.0,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,2224729_39467,2224729.0,39467.0,2012-07-15,Clarence Goodson,DK1,0.0,0.0,0.0,0.0,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,2232104_119169,2232104.0,119169.0,2012-07-19,Aron Johannsson,ELQ,0.0,0.0,0.0,0.0,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,2219794_39475,2219794.0,39475.0,2012-07-22,Sacha Kljestan,BESC,0.0,0.0,0.0,0.0,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,NaN,NaN,273570.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,desevio-payne,United States,1995-11-30,Right-Back,right,182.0,NaN,400000.0,NaT,NaN
148,NaN,NaN,111783.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,alejandro-bedoya,United States,1987-04-29,Central Midfield,right,182.0,300000.0,2500000.0,2023-12-31,YMU Group
149,NaN,NaN,160670.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,joe-gyau,United States,1992-09-16,Left Winger,both,175.0,400000.0,600000.0,2023-12-31,BR Group Management
150,NaN,NaN,3476.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,brad-friedel,United States,1971-05-18,Goalkeeper,NaN,NaN,NaN,4000000.0,NaT,NaN
151,NaN,NaN,504215.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,giovanni-reyna,England,2002-11-13,Attacking Midfield,right,185.0,25000000.0,42000000.0,2025-06-30,Wasserman

In [16]:
#droping duplicates

df=merged_df.drop_duplicates(inplace=True)

In [7]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9056 entries, 0 to 151
Data columns (total 51 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   appearance_id                3568 non-null   object
 1   game_id                      8904 non-null   float64
 2   player_id                    5788 non-null   float64
 3   date                         8685 non-null   datetime64[ns]
 4   player_name                  3787 non-null   object
 5   competition_id               6836 non-null   object
 6   yellow_cards                 3568 non-null   float64
 7   red_cards                    3568 non-null   float64
 8   goals                        3568 non-null   float64
 9   assists                      3568 non-null   float64
 10  minutes_played               3568 non-null   float64
 11  game_event_id                1849 non-null   object
 12  minute                       1849 non-null   float64
 13  type                         2068 non-null   object
 14  description                  916 non-null    object
 15  player_in_id                 1155 non-null   float64
 16  player_assist_id             140 non-null    float64
 17  game_lineups_id              219 non-null    object
 18  number                       219 non-null    float64
 19  team_captain                 219 non-null    float64
 20  position                     371 non-null    object
 21  season                       3268 non-null   float64
 22  round                        3268 non-null   object
 23  home_club_goals              3268 non-null   float64
 24  away_club_goals              3268 non-null   float64
 25  home_club_position           2789 non-null   float64
 26  away_club_position           2789 non-null   float64
 27  home_club_manager_name       3263 non-null   object
 28  away_club_manager_name       3263 non-null   object
 29  stadium                      3268 non-null   object
 30  attendance                   3153 non-null   float64
 31  referee                      3266 non-null   object
 32  home_club_formation          0 non-null      float64
 33  away_club_formation          0 non-null      float64
 34  home_club_name               3158 non-null   object
 35  away_club_name               3205 non-null   object
 36  aggregate                    3268 non-null   object
 37  competition_type             3268 non-null   object
 38  name                         152 non-null    object
 39  last_season                  152 non-null    float64
 40  current_club_id              152 non-null    float64
 41  player_code                  152 non-null    object
 42  country_of_birth             152 non-null    object
 43  date_of_birth                152 non-null    datetime64[ns]
 44  sub_position                 152 non-null    object
 45  foot                         141 non-null    object
 46  height_in_cm                 149 non-null    float64
 47  market_value_in_eur          114 non-null    float64
 48  highest_market_value_in_eur  148 non-null    float64
 49  contract_expiration_date     106 non-null    datetime64[ns]
 50  agent_name                   107 non-null    object
dtypes: datetime64[ns](3), float64(25), object(23)
memory usage: 3.6+ MB

In [19]:
#Finding duplicates

print("Shape of DataFrame before removing duplicates:", merged_df.shape)
merged_df.drop_duplicates(inplace=True)
print("Shape of DataFrame after removing duplicates:",merged_df.shape)

Shape of DataFrame before removing duplicates: (9056, 51)
Shape of DataFrame after removing duplicates: (9056, 51)

In [8]:
#Finding null values

null_values =merged_df.isnull().sum() 
print("Null Values in Dataset:")
print(null_values)

Null Values in Dataset:
appearance_id                  5488
game_id                         152
player_id                      3268
date                            371
player_name                    5269
competition_id                 2220
yellow_cards                   5488
red_cards                      5488
goals                          5488
assists                        5488
minutes_played                 5488
game_event_id                  7207
minute                         7207
type                           6988
description                    8140
player_in_id                   7901
player_assist_id               8916
game_lineups_id                8837
number                         8837
team_captain                   8837
position                       8685
season                         5788
round                          5788
home_club_goals                5788
away_club_goals                5788
home_club_position             6267
away_club_position             6267
home_club_manager_name         5793
away_club_manager_name         5793
stadium                        5788
attendance                     5903
referee                        5790
home_club_formation            9056
away_club_formation            9056
home_club_name                 5898
away_club_name                 5851
aggregate                      5788
competition_type               5788
name                           8904
last_season                    8904
current_club_id                8904
player_code                    8904
country_of_birth               8904
date_of_birth                  8904
sub_position                   8904
foot                           8915
height_in_cm                   8907
market_value_in_eur            8942
highest_market_value_in_eur    8908
contract_expiration_date       8950
agent_name                     8949
dtype: int64

In [12]:
#Treating null values 

numerical_cols = merged_df.select_dtypes(include='number').columns
for col in numerical_cols:
    merged_df[col].fillna(merged_df[col].mean(), inplace=True)
categorical_cols = merged_df.select_dtypes(exclude='number').columns
for col in categorical_cols:
    merged_df[col].fillna(merged_df[col].mode()[0], inplace=True)

null_values_after_treatment = merged_df.isnull().sum()
print("\nNull Values after Treatment:")
print(null_values_after_treatment)

Null Values after Treatment:
appearance_id                     0
game_id                           0
player_id                         0
date                              0
player_name                       0
competition_id                    0
yellow_cards                      0
red_cards                         0
goals                             0
assists                           0
minutes_played                    0
game_event_id                     0
minute                            0
type                              0
description                       0
player_in_id                      0
player_assist_id                  0
game_lineups_id                   0
number                            0
team_captain                      0
position                          0
season                            0
round                             0
home_club_goals                   0
away_club_goals                   0
home_club_position                0
away_club_position                0
home_club_manager_name            0
away_club_manager_name            0
stadium                           0
attendance                        0
referee                           0
home_club_formation            9056
away_club_formation            9056
home_club_name                    0
away_club_name                    0
aggregate                         0
competition_type                  0
name                              0
last_season                       0
current_club_id                   0
player_code                       0
country_of_birth                  0
date_of_birth                     0
sub_position                      0
foot                              0
height_in_cm                      0
market_value_in_eur               0
highest_market_value_in_eur       0
contract_expiration_date          0
agent_name                        0
dtype: int64

In [26]:
# clean data is saved in a csv file

merged_df.to_csv("football_data_merged_cleaned.csv", index=False)