In [5]:
#TASK 1 spell bee competition

students_name= ["Mark Antony","John Chan","Bret Lee","Jim Nick","Janice Ken","Florida Thomson","Lily Jason","Matt Antony","Mark Thomas",
      "Kenny Peterson","Joe Cook","Alexander Thomas","Katy Perry","Alexanderia Peterson","Mark Antony"]
for i in range(5):
    new_students_name=input(f"enter the name of the student {i+16}:")
    students_name.append(new_students_name)
print("updated student list")
print(students_name)

enter the name of the student 16:giri
enter the name of the student 17:prasad
enter the name of the student 18:vignesh
enter the name of the student 19:jvn
enter the name of the student 20:jack
updated student list
['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'giri', 'prasad', 'vignesh', 'jvn', 'jack']

In [33]:
#TASK 2

students_name=['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'giri', 'prasad', 'vignesh', 'jvn', 'jack']
print("name of the students in reversed order:")
for student in reversed(students_name):
    print(student)

name of the students in reversed order:
jack
jvn
vignesh
prasad
giri
Mark Antony
Alexanderia Peterson
Katy Perry
Alexander Thomas
Joe Cook
Kenny Peterson
Mark Thomas
Matt Antony
Lily Jason
Florida Thomson
Janice Ken
Jim Nick
Bret Lee
John Chan
Mark Antony

In [22]:
#TASK 3 

students_names=['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'giri', 'prasad', 'vignesh', 'jvn', 'jack']
reversed_student=[]
for i in  range(len(students_names)-1 -1 -1):
    reversed_student.append(students_names[i])
print("names of all reversed students:")
for student in reversed_student:
    print(student)

names of all reversed students:
Mark Antony
John Chan
Bret Lee
Jim Nick
Janice Ken
Florida Thomson
Lily Jason
Matt Antony
Mark Thomas
Kenny Peterson
Joe Cook
Alexander Thomas
Katy Perry
Alexanderia Peterson
Mark Antony
giri
prasad

In [23]:
#TASK 4 checking duplicate

students_name=['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'giri', 'prasad', 'vignesh', 'jvn', 'jack']
final_list=[]
for student in students_name:
    if students_name not in final_list:
        final_list.append(student)
print("final names without duplicate:")
for student in final_list:
    print(student)

final names without duplicate:
Mark Antony
John Chan
Bret Lee
Jim Nick
Janice Ken
Florida Thomson
Lily Jason
Matt Antony
Mark Thomas
Kenny Peterson
Joe Cook
Alexander Thomas
Katy Perry
Alexanderia Peterson
Mark Antony
giri
prasad
vignesh
jvn
jack

In [24]:
#task 5 alphabetical order

students_name=['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'giri', 'prasad', 'vignesh', 'jvn', 'jack']
final_list=[]
for student in students_name:
    if students_name not in final_list:
        final_list.append(student)
print("final names without duplicate:")
for student in sorted(final_list):
    print(student)

final names without duplicate:
Alexander Thomas
Alexanderia Peterson
Bret Lee
Florida Thomson
Janice Ken
Jim Nick
Joe Cook
John Chan
Katy Perry
Kenny Peterson
Lily Jason
Mark Antony
Mark Antony
Mark Thomas
Matt Antony
giri
jack
jvn
prasad
vignesh

In [34]:
#TASK 6 display selected students

students_name = ['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'giri', 'prasad', 'vignesh', 'jvn', 'jack']
final_list=[]
final_list = []
for student in students_name:
    if student not in final_list:
        final_list.append(student)
selected_students_indices = [1, 11, -1] 
selected_students = [final_list[i] for i in selected_students_indices]
print("\nNames of selected students:")
for student in selected_students:
    print(student)

Names of selected students:
John Chan
Alexander Thomas
jack

In [53]:
#TASK 7  count the number of integer

count_divisible_7=0
for number in range(556,678):
    if number %7==0:
        count_divisible_7+=1
print(f" number of integer between 555 and 678 that are dividible by 7 is:{count_divisible_7}")

 number of integer between 555 and 678 that are dividible by 7 is:17

In [66]:
#TASK 8  NATURAL NUMBERS

n = int(input("Enter the value of n: "))
count_printed = 0
for number in range(1, 31):
    if number % n != 0:
        print(number, end=' ')
        count_printed += 1
        print()
print()

Enter the value of n: 5
1 2 3 4 6 7 8 9 11 12
13 14 16 17 18 19 21 22 23 24

26 27 28 29

In [67]:
#TASK 9
firstlist = [1, 21, 3, 4, 5, 6, 7, 18, 4]
secondlist = [19, 1, 17, 6, 15, 14, 13, 2, 11]
thirdlist = []
for i in range(min(len(firstlist), len(secondlist))):
    sum_of_elements = firstlist[i] + secondlist[i]
    thirdlist.append(sum_of_elements)
print("Result:", thirdlist)

Result: [20, 22, 20, 10, 20, 20, 20, 20, 15]