In [4]:
#task 1 row indexes from 101 to 120

import pandas as pd
price = [80121, 48483, 37077, 30660, 68536, 52666, 78703, 51036, 55643, 56990, 39967, 93822, 51406, 93947, 78373, 62765, 47536, 40528, 58780, 83197]
car_prices = pd.Series(price, index=range(101, 121))
print(car_prices)

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
dtype: int64

In [5]:
#task 2 Identify the row indexes and prices of the cars with the highest price and the lowest price

max_price_index = car_prices.idxmax()
min_price_index = car_prices.idxmin()
max_price = car_prices[max_price_index]
min_price = car_prices[min_price_index]
print("Car with highest price - Row Index:", max_price_index, "Price:", max_price)
print("Car with lowest price - Row Index:", min_price_index, "Price:", min_price)

Car with highest price - Row Index: 114 Price: 93947
Car with lowest price - Row Index: 104 Price: 30660

In [6]:
#task 3 Display the price of the top 5 cars with highest value, along with their row index

top_5_prices = car_prices.nlargest(5)
print("Top 5 cars with highest prices and their row indexes:")
print(top_5_prices)

Top 5 cars with highest prices and their row indexes:
114    93947
112    93822
120    83197
101    80121
107    78703
dtype: int64

In [7]:
#task 4 all cars priced between $30-40k along with the row indexes and count of these cars

cars_30_40k = car_prices[(car_prices >= 30000) & (car_prices <= 40000)]
print("Cars priced between $30-40k:")
print(cars_30_40k)
print("Count of cars priced between $30-40k:", len(cars_30_40k))

Cars priced between $30-40k:
103    37077
104    30660
111    39967
dtype: int64
Count of cars priced between $30-40k: 3

In [8]:
#task 5 the average price of all cars and count of such cars

average_price = car_prices.mean()
above_average_cars = car_prices[car_prices > average_price]
print("Cars priced above average:")
print(above_average_cars)
print("Count of cars priced above average:", len(above_average_cars))

Cars priced above average:
101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
dtype: int64
Count of cars priced above average: 8

In [14]:
#task 6 Adding three new cars 

new_cars = pd.Series([34000, 45000, 54000], index=[201, 202, 203])
car_prices = pd.concat([car_prices, new_cars])
print("Updated prices along with row indexes for all cars:")
print(car_prices)

Updated prices along with row indexes for all cars:
101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
201    34000
202    45000
203    54000
dtype: int64

In [15]:
#task 7 Display the original and discounted prices of all cars priced above $60,000

discounted_cars = car_prices[car_prices > 60000] * 0.8
print("Row indexes, original prices, and discounted prices of cars priced above $60,000:")
print(pd.concat([car_prices[car_prices > 60000], discounted_cars], axis=1))

Row indexes, original prices, and discounted prices of cars priced above $60,000:
         0        1
101  80121  64096.8
105  68536  54828.8
107  78703  62962.4
112  93822  75057.6
114  93947  75157.6
115  78373  62698.4
116  62765  50212.0
120  83197  66557.6

In [16]:
#task 8 Deleting the cars sold (priced above $60,000) and displaying the count of cars before and after the update

car_prices = car_prices[car_prices <= 60000]
print("Updated data after selling cars priced above $60,000:")
print(car_prices)
print("Count of cars before update:", len(car_prices) + 3)
print("Count of cars after update:", len(car_prices))

Updated data after selling cars priced above $60,000:
102    48483
103    37077
104    30660
106    52666
108    51036
109    55643
110    56990
111    39967
113    51406
117    47536
118    40528
119    58780
201    34000
202    45000
203    54000
dtype: int64
Count of cars before update: 18
Count of cars after update: 15